body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#F00057, #FA9E01);
    color: #ffffff;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#bff-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #FA9E01;
    margin-bottom: 10px;
    background-size: 500%;
}

#bday-age {
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExbnR1cWo5dW12eDhiZDVtMmVldW5rNXpjcXM5eHV4YXJxZm02dXc2MCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/3o7qE2VAxuXWeyvJIY/giphy.gif");
}

#gift-img-hot:hover {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExcGtiZ3Yyc3g5MmR4N3FibXhncTk0dnQ3bGgydWh0Zndrend0dDhtMSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/ckB5razpgN2rd4qTfe/giphy.gif");
}

#gift-img-genius:hover {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3b2p2angxb3A3MmRuYXdkY2Z5MGFoM2IwN3phbmV3bHhyanN4M3EzaiZlcD12MV9naWZzX3NlYXJjaCZjdD1n/rDbt7Ky9NAi1vKj7VP/giphy.gif");
    background-size: cover;
}

#gift-img-badass:hover {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExNm42OXBoZHpocHNyaHl3cGptY2t2emFrM2t3ODY4djN6aWtjZXI1MSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/bUI7XZqMIQRxe/giphy.gif");
    background-size: cover;
}

#gift-img-cheers:hover {
    background-image: url("images/cheers.gif");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
    font-style: italic;
    font-size: 14px;
}

@media (max-width: 760px) {
   body {
        margin: 20px;
        padding: 20px;
   }
}